{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>

<div class="container">
{% for post in posts reversed%}

<div class="card mb-3 text-center shadow">
  {% if post.cover %}
        <img class="card-img-top" src="{{post.cover.url}}" alt="...">
   {% endif %}
  <div class="card-body">
    <h3 class="card-title">{{post.title}}</h3>
    <p class="card-text">{{post.text}}</p>
    <p class="card-text"><small class="text-muted">POSTED BY:{{post.author}}</small></p>
    <p class="card-text"><small class="text-muted">POSTED ON:{{post.published_date}}</small></p>
                <div class="">
                     <button type="button" class="btn btn-warning"
                     onclick="window.location.href='/blog/{{post.pk}}';"
                     >
                         <i class="fa fa-image"></i> Preview
                     </button>
                     {% if request.user.is_authenticated and post.author == request.user %}
                     <button  class="btn btn-warning" onclick="window.location.href='/manage/edit/{{post.pk}}';">
                          <i class="fa fa-edit"></i> Edit
                     </button>

                     <button type="button" class="btn btn-warning" onclick="window.location.href='/manage/delete/{{post.pk}}';">
                         <i class="fa fa-trash"></i> Delete
                     </button>
                     {%endif%}
                 </div>
  </div>

</div>


    {% endfor %}
</div>

{% endblock content %}
